* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    border-bottom: 3px solid #32b9cd;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: #32b9cd;
    font-weight: 500;
}

.navbar {
    display: flex;
    width: 300px;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.navbar li, .navbar a{
    color: #e3b062;
    text-decoration: none;
}

.banner {
    background-image: url(../assets/imgs/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
}

.banner .container {
    height: 81.1vh;
    justify-content: center;
    align-items: center;
}

.banner p {
    color: white;
    width: 280px;
    font-size: 2.2rem;
}

.banner span {
    font-weight: 800;
}

.social {
    background-color: #e5e5e5;;
}

.boxes {
    display: flex;
    padding: 55px 0;
    gap: 8px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    width: 170px;
}

.box h4 {
    color: #CE477F;
    font-weight: bold;
}

/* Começo do Footer */

.footer {
    width: 100%;
    height: 100px;
    background-color: #32B9CD;
    color: white;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

