.formulario {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    color: #ce477f;
    padding: 40px;
    border-radius: 10px;
}


.formulario h4 {
    margin: 0;
}

#saldacao {
    font-size: 25px;
    margin-bottom: 20px;
    align-self: center;
}

.formulario input{
    border: 2px solid #32b9cd;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 3px 2px;
}

.formulario button {
    background-color: #ce477f;
    border-radius: 5px;
    color: white;
    width: 100px;
    border: none;
    padding: 5px 0;
    align-self: center;
    cursor: pointer;
}

